p {
    color:rgb(81, 0, 128);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    line-height: 18px;
    width: 600px;
    background-color: rgba(206, 185, 226, 0.452);
    padding: 20px;
    border: 2px rgb(82, 44, 97) dashed;
    margin-left: 20px;
    box-shadow: 4px 4px 4px rgba(70, 36, 70, 0.473);
}
.font{
    padding: 30px;
}
h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(211, 187, 241);
    margin-left: 10px;
}
a:link {
    color: rgb(54, 12, 65);
    background-color: rgb(166, 139, 197);
    padding: 5px;
    line-height: 40px;
    border: solid 2px rgb(99, 30, 99);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(70, 36, 70, 0.473);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 9%;
}
a:hover{
    background-color: rgb(165, 119, 196);
}
body{
    background-color: rgb(110, 75, 124);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@font-face {
    font-family: "NikaKovacicek";
    src:url("font/NikaKovacicek.ttf"); 
}
.font{
    font-family: "NikaKovacicek", sans-serif; 
    font-size: 50px;
}
section{
    border: 5px dashed rgb(65, 35, 85);
    background-color: rgba(249, 226, 255, 0.13);
    padding: 6px;
    width: 850px;
    margin-top: 15px;
    margin-left: 25px;
}
img{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}